
.btn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 12px;
    padding: 7px 10px;

    transition: background-color .3s ease ;
    transition: color .3s ease ;
    
    &:focus {
        outline: none;
    }

    &:hover {
        color: darken($color: white, $amount: 10);
        background-color: lighten($color: $primary, $amount: 10);
        border-radius: 5px;
    }
}

.btn-primary {
    background-color: $primary;
    border-radius: 5px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);

    &:disabled {
        background-color: lighten($color: $primary, $amount: 15);
    }

    &:hover {
        background-color: darken($color: $primary, $amount: 15);
    }
}

.btn-block {
    width: 100%;
}

.google-btn, .facebook-btn, .github-btn {
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
    height: 42px;
    background-color: $google-blue;
    border-radius: 5px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);

    transition: box-shadow .3s ease;

    .google-icon-wrapper, .facebook-icon-wrapper, .github-icon-wrapper {
        position: absolute;
        margin-top: 3px;
        margin-left: 2px;
        width: 36px;
        height: 36px;
        border-radius: 5px;
        background-color: $white;
        &:active, &:visited {
            outline: none;
        }
    }
    .google-icon, .facebook-icon, .github-icon {
        position: absolute;
        margin-top: 8px;
        margin-left: 8px;
        width: 20px;
        height: 20px;
    }
    .btn-text {
        float: right;
        margin: 11px 40px 0 0;
        color: $white;
        font-size: 14px;
        letter-spacing: 0.2px;
    }
    &:hover {
        box-shadow: 0 0 6px $google-blue;
        background-color: darken($color: $google-blue, $amount: 10);
    }
    &:active {
        background: $button-active-blue;
    }
}