
.nothing__main-content {
    align-items: center;
    background-color: $primary;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    .nothing__date {
    justify-content: center;
    display: flex;
    margin: 1% 0 5% 0;
    }

    p {
        text-align: center;
    }

}

